@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header {
    @apply max-w-screen-xl bg-pink-200 mx-auto py-6 px-4 sm:px-8 md:px-12 lg:px-16;
  }
  .section {
    @apply mx-auto py-16 px-4 sm:px-8 md:px-12 lg:px-16;
  }
  .nav-item {
    @apply text-lg font-medium text-black hover:text-neutral-700;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
